.vs

# AuthService
/AuthService/*.log
/AuthService/bin/
/AuthService/obj/

# AuthService.Tests
/AuthService.Tests/*.log
/AuthService.Tests/bin/
/AuthService.Tests/obj/

/LoggerService/obj/

/Common/obj/

# TasksService
/TasksService/*.log
/TasksService/bin/
/TasksService/obj/

